html {
    height: 100%;
}

.admin {
    margin: 0;
    padding: 0;
    font-family: Arial, 'Roboto', sans-serif;
    background: #f9f9f9;
    min-height: 100%;
    min-width: 320px;
    display: flex;
    flex-direction: column;

}

.container {
    /*max-width: 1240px;*/
    padding: 0 15px;
    /*margin: 0 auto;*/
}

.admin__header {
    background-color: #2d3436;
    height: 80px;
    line-height: 80px;
}

.admin__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.admin__name {
    color: #e67e22;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: capitalize;
    text-decoration: none;
}

.admin__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.admin__item {
    margin-bottom: 10px;
}

.admin__item:last-child {
    margin-bottom: 0;
}

.admin__header-link {
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0.5px;
    font-size: 12px;
    font-weight: 600;
    padding: 0 7.5px;
}

.admin__link {
    text-decoration: none;
    color: #afafaf;
    letter-spacing: 0.5px;
    font-size: 12px;
    font-weight: 600;
    padding: 0 7.5px;
}

.admin__header-link:hover {
    color: #e67e22;
}

.admin__link:hover {
    color: #e67e22;
}

.admin__main {
    flex: 1 0 auto;
}

.admin__title {
    font-size: 24px;
    color: #7f8c8d;
}

.admin__subtitle {
    color: #bdc3c7;
}

.admin__footer {
    background-color: #2d3436;
    flex: 0 0 auto;
    height: 80px;
    line-height: 80px;
}

.admin__copyright {
    color: #fff;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 16px;
    text-align: right;
}

/*Стили таблиц*/
.admin__products {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
    border-spacing: 0 10px;
    border-collapse: collapse;
    color: #333;
    font-size: 7px;
}
.admin__products tr {
    height: 35px;
}
.admin__products tr:nth-child(even) {
    background-color: #ecf0f1;
}
.admin__products .fa {
    color: #e67e22;
}
.admin__products tr > td,
.admin__products tr > th {
    border: 1px solid #ddd;
}
.admin__products .link {
    padding: 10px;
    text-align: center;
}
.admin__products tr > td > a {
    text-decoration: none;
    color: #e67e22;
    font-weight: 600;
}

.admin__products.subcategory {
    width:100%;
}

.admin__products.order {
    font-size: 7px;
}

.admin__products-small {
    font-size: 12px;
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    margin-bottom: 15px;
    border-spacing: 0 10px;
    color: #333;
}
.admin__products-small tr,
.admin__products-medium tr {
    height: 35px;
}
.admin__products-small tr:nth-child(odd),
.admin__products-medium tr:nth-child(odd) {
    background-color: #ecf0f1;
}
.admin__products-small td {
    border: 1px solid #ddd;
    padding-left: 15px;
}


.admin__products-medium {
    font-size: 12px;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    margin-bottom: 15px;
    border-spacing: 0 10px;
    color: #333;
}
.admin__products-medium td,
.admin__products-medium th{
    border: 1px solid #ddd;

}

/*Хлебные крошки*/
.breadcrumb {
    display: flex;
    list-style: none;
    padding: 0;
}

.breadcrumb > .active {
    font-size: 12px;
    font-weight: 300;
    color: #afafaf;
    text-decoration: none;
    padding: 7px 5px;
    letter-spacing: 0.5px;
    text-align: center;
}

.breadcrumbs__item {
    margin-right: 10px;
    padding: 0 5px;
    background: #e67e22;
    border-radius: 2px;
    text-align: center;
    display: flex;
    align-items: center;
}

.breadcrumbs__item:last-child {
    margin-right: 0;

}

.breadcrumbs__link {
    font-size: 12px;
    font-weight: 300;
    color: #fff;
    text-decoration: none;
    letter-spacing: 0.5px;
}

/*Кнопки */
.admin__btn-add {
    text-decoration: none;
    color: #7f8c8d;
    font-size: 14px;
    border: 1px solid grey;
    border-radius: 3px;
    padding: 8px;
    display: block;
    width: fit-content;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    transition: .3s linear;
}

.admin__btn-add:hover {
    color: #e67e22;
    box-shadow: inset 0px 0px 4px rgba(0, 0, 0, .5), inset 0 0 0 rgba(255, 255, 255, 0.6);
}

.admin__btn-add .fa:hover {
    color: #e67e22;
}

.admin__btn-save {
    color: #fff;
    letter-spacing: 0.5px;
    font-size: 14px;
    border: none;
    background: #27ae60;
    padding: 10px;
    border-radius: 2px;
    cursor: pointer;
    transition: .3s linear;
    width: fit-content;
}

.admin__btn-save:hover {
    background: #2ecc71;
    color: #34495e;
}

.admin__btn-delete {
    color: #34495e;
    letter-spacing: 0.5px;
    font-size: 14px;
    border: none;
    background: #e67e22;
    padding: 10px;
    border-radius: 2px;
    cursor: pointer;
    transition: .3s linear;
}

.admin__btn-delete:hover {
    background: #e74c3c;
    color: #fff;
}

/*Форма товара*/
.admin__form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.admin__label {
    font-size: 16px;
    color: #7f8c8d;
    font-weight: 500;
    margin-bottom: 5px;
}

.admin__label + img {
    margin-bottom: 10px;
}

.admin__input {
    font-size: 14px;
    color: #34495e;
    font-weight: 500;
    margin-bottom: 15px;
    height: 25px;
    max-width: 400px;
    line-height: 25px;
    padding-left: 10px;
    background: #ecf0f1;
    outline: none;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.admin__textarea {
    font-size: 14px;
    color: #34495e;
    font-weight: 500;
    margin-bottom: 15px;
    padding-left: 10px;
    padding-top: 10px;
    background: #ecf0f1;
    outline: none;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    resize: vertical;
    height: 60px;
    max-height: 90px;
    min-height: 40px;
    max-width: 400px;
}
.admin__textarea.news {
    height: 100%;
    max-height: 100%;
}

.admin__select {
    font-size: 14px;
    color: #34495e;
    font-weight: 500;
    margin-bottom: 15px;
    height: 25px;
    max-width: 410px;
    line-height: 25px;
    padding-left: 10px;
    background: #ecf0f1;
    outline: none;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.admin__input-hide {
    display: none;
}

.admin__input-file {
    border: none;
    margin-left: 3px;
}

.admin__label-file {
    font-size: 14px;
    color: #34495e;
    font-weight: 500;
    margin-bottom: 15px;
    height: 25px;
    max-width: 400px;
    line-height: 25px;
    padding-left: 10px;
    background: #ecf0f1;
    outline: none;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 425px){
    .admin__products {
        font-size: 10px;
    }
    .admin__products.order {
        font-size: 9px;
    }
}
@media screen and (min-width: 768px){
    .admin__products {
        font-size: 16px;
        text-align: left;
    }
    .admin__products tr > td,
    .admin__products tr > th {
        padding: 5px 15px;
        border: 1px solid #ddd;
    }
    .admin__products.subcategory {
        width:45%;
    }
    .admin__products.order {
        font-size: 16px;
    }

    .admin__input-file {
        margin-left: 10px;
    }
    .admin__products-medium {
        width: 70%;
        font-size: 14px;
    }
    .admin__products-small {
        width: 50%;
        font-size: 14px;

    }
}

